<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <img src="../../assets/credito_compra_cartera.png" width="30" height="30" alt="" class="d-inline-block align-top"> Credifast
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-disabled="true">Registrar Nuevo</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
        </li>
      </ul>
    </div>
</nav>
<br>
<div class="container">
  <h6 class="text-muted">Datos obtenidos de SUNARP</h6>
  <fieldset disabled>
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputEmail4">Dirección de la propiedad</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="AV. JOSÉ GRANDA 3815">
        </div>
        <div class="form-group col-12">
          <label for="inputEmail4">Urbanizacion</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="CONDEVILLA">
        </div>
        <div class="form-group col-12">
          <label for="inputEmail4">Distrito</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="SAN MARTIN DE PORRES">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Area</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="11 x 9 m2">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Valorizacion</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="S/. 100,000.00">
        </div>
        <div class="form-group col-12">
          <label for="inputEmail4">Titulo</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="N-10020154885785">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Estado del titulo</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="VALIDO">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Fecha de expedición</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="10/03/2000">
        </div>
      </div>
    </form>
  </fieldset>
</div>