<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Credifast</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Registrar Nuevo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <h4 class="text-muted">Solictudes Generadas</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Por Estado solicitud</a>
            <a class="dropdown-item" href="#">Por Tipo producto</a>
          </div>
        </div>
      </div>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Préstamos <span class="badge badge-success">Aprovado</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">PR-CU-1020</h5>
          <p class="card-text">Otorgamiento de préstamo por S/3000.00 a Luis Rivera</p>
          <a href="#" class="btn btn-primary">Ver Completo</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Préstamos <span class="badge badge-danger">Rechazado</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">PR-CU-1025</h5>
          <p class="card-text">Otorgamiento de préstamo por S/4000.00 a Richar Gonzales</p>
          <a href="#" class="btn btn-primary">Ver Completo</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Tarjeta de Crédito <span class="badge badge-warning">Entregado</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">PR-CU-1030</h5>
          <p class="card-text">Otorgamiento de una tarjeta de crédito por S/4000.00 a Edgar Chavez</p>
          <a href="#" class="btn btn-primary">Ver Completo</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Préstamo Hipotecarios <span class="badge badge-secondary">Pendiente</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">PR-CU-1040</h5>
          <p class="card-text">Otorgamiento de préstamo hipotecario por S/10,000.00 a Guila Mendez</p>
          <a href="#" class="btn btn-primary">Ver Completo</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ingrese numero de DNI" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
          <div class="card">
            <div class="card-header">
              Encontrado
            </div>
            <div class="card-body">
              <h5 class="card-title">Nombre: Luis Rivera Huamanán</h5>
              <p class="card-text">DNI: 72534355</p>
              <a href="#" class="btn btn-primary" routerLink="registrarvisita">Seleccionar</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>