<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <img src="../../assets/credito_compra_cartera.png" width="30" height="30" alt="" class="d-inline-block align-top"> Credifast
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-disabled="true">Registrar Nuevo</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
        </li>
      </ul>
    </div>
</nav>
<br>
<div class="container">
  <h6 class="text-muted">Indicador de monto de la solictud</h6>
  <form>
    <div class="form-row">
      <div class="form-group col-12">
          <label for="inputEmail4">Monto Solicitado</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese Monto">
      </div>
      <div class="form-group col-12">
          <label for="inputEmail4">Numero de cuotas</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese cuotas">
      </div>
      <button type="submit" class="btn btn-primary">Siguiente</button>
    </div>
  </form>
</div>