<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <img src="../../assets/credito_compra_cartera.png" width="30" height="30" alt="" class="d-inline-block align-top"> Credifast
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-disabled="true">Registrar Nuevo</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
        </li>
      </ul>
    </div>
</nav>
<br>
<div class="container">
  <h6 class="text-muted">Datos obtenidos de SUNAT</h6>
  <fieldset disabled>
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputEmail4">Número de RUC</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="10725343553 - RIVERA HUAMAN LUIS AARON">
        </div>
        <div class="form-group col-12">
          <label for="inputEmail4">Tipo contribuyente</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="PERSONA NATURAL SIN NEGOCIO">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Fecha de Inscripción</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="09/02/2019">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Inicio de Actividades</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="09/02/2019">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Estado</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="ACTIVO">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Condición</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="HABIDO">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Emisión de comprobante</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="COMPUTARIZADO">
        </div>
        <div class="form-group col-6">
          <label for="inputEmail4">Sistema de contabilidad</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="COMPUTARIZADO">
        </div>
        <div class="form-group col-12">
          <label for="inputEmail4">Actividad(es) Económica(s)</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="9609 - OTRAS ACTIVIDADES DE SERVICIOS PERSONALES N.C.P.">
        </div>
      </div>
    </form>
    </fieldset>
</div>