<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Credifast</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-disabled="true">Registrar Nuevo</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
        </li>
      </ul>
    </div>
</nav>
<br>
<div class="container">
  <fieldset disabled>
    <form>
      <h6>DNI: 72534355</h6>
          <div class="form-row">
            <div class="form-group col-6">
              <label for="inputEmail4">Nombres</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Luis">
            </div>
            <div class="form-group col-6">
              <label for="inputPassword4">Apellidos</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Rivera Huaman">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label for="inputAddress">Sexo</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Masculino">
            </div>
            <div class="form-group col-6">
              <label for="inputZip">Fecha Nacimiento</label>
              <input type="text" class="form-control" id="inputZip" placeholder="29/03/1995">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress2">Direccion</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Av. Jose Granda 3815 Urb. Condevilla">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Departamento</label>
              <input type="text" class="form-control" id="inputCity" placeholder="Lima">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Ciudad</label>
              <select id="inputState" class="form-control">
                <option selected>Lima</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Distrito</label>
              <select id="inputState1" class="form-control">
                <option selected>San Martin de Porres</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Siguiente</button>
        </form>
  </fieldset>
</div>